<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Button Fragment</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Projects Fragment -->
<div th:fragment="projects">
    <ul>
        <li style="display: flex">
            <button class="create-button" th:onclick="|window.location.href='@{/projects/new}'|">Create New Project</button>
        </li>
        <li style="display: flex">
            <button class="create-button" th:onclick="|window.location.href='@{/tools}'|">Tools</button>
        </li>
        <li style="display: flex">
            <button class="create-button" th:onclick="|window.location.href='@{/projects}'|">Competences</button>
        </li>
    </ul>
</div>
<!-- Projects Fragment -->
<div th:fragment="project-details">
    <ul>
        <li style="display: flex">
            <!-- Create Task Button -->
            <button class="create-button"
                    th:onclick="|window.location.href='@{/tasks/new/{id}(id=${project.id})}'|">
                Create Task
            </button>
        </li>
        <li style="display: flex">
            <button class="create-button"
                    th:onclick="|window.location.href='@{/projects/{id}/new(id=${project.id})}'|">
                Create New Subproject
            </button>
        </li>
        <li style="display: flex">
            <button class="create-button-blue"
                    th:onclick="|window.location.href='@{/projects}'|">
                Back
            </button>
        </li>
    </ul>
</div>
<!-- Tools Fragment -->
<div th:fragment="tools">
    <ul>
        <li style="display: flex">
            <button class="create-button-blue" th:onclick="|window.location.href='@{/projects}'|">Back</button>
        </li>
    </ul>
</div>
</body>
</html>
