<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details Fragment</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<!-- Project Details Fragment -->
<div th:fragment="project-details" class="project-container">
    <h1 class="project-title">Project: [[${project.name}]]</h1>

    <ul class="tasks-container">
        <!-- Main Project Tasks -->
        <li class="task-line" th:each="task : ${tasks}">
            <span class="task-name">Task: [[${task.name}]]</span>
            <span class="task-description">[[${task.description}]]</span>
            <span class="task-estimate">Estimate: [[${task.estimate}]]</span>
        </li>

        <!-- Subprojects -->
        <li th:each="subproject : ${subprojects}" style="display: block">
            <div class="subproject-line">
                <span class="task-name"><a th:href="@{/projects/{id}(id=${subproject.id})}">Subproject: [[${subproject.name}]]</a></span>
                <span class="task-description">[[${subproject.description}]]</span>
            </div>

            <!-- Subproject Tasks -->
            <ul class="tasks-container" style="padding-top: 0.5rem">
                <li class="task-line" th:each="task : ${tasksByProject.get(subproject)}">
                    <span class="task-name">Task: [[${task.name}]]</span>
                    <span class="task-description">[[${task.description}]]</span>
                    <span class="task-estimate">Estimate: [[${task.estimate}]]</span>
                </li>
            </ul>
        </li>
    </ul>
</div>


<!-- Projects Fragment -->
<div th:fragment="projects" class="container">
    <h1>Projects</h1>
    <div class="project-cards">
        <a th:each="project : ${projects}" th:href="@{/projects/{id}(id=${project.id})}" class="project-card">
            <h2 th:text="${project.name}" class="project-card-title"></h2>
            <p th:text="${project.description}" class="project-card-description"></p>
        </a>
    </div>
</div>
</body>

</html>
