<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project View</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="project-container">
    <h1 class="project-title">Project: [[${project.name}]]</h1>

    <ul class="main-project-list">
        <li class="main-project-item">
            <div class="project-header">Main Project: [[${project.name}]]</div>

            <!-- Main Project Tasks -->
            <ul class="task-list">
                <li class="task-item" th:each="task : ${tasks}">
                    Task: [[${task.name}]]
                </li>
                <!-- Subprojects -->
                <li class="subproject-item" th:each="subproject : ${subprojects}">
                    <div class="subproject-header">
                        Subproject: [[${subproject.name}]]
                    </div>

                    <!-- Subproject Tasks -->
                    <ul class="task-list">
                        <li class="task-item" th:each="task : ${tasksByProject.get(subproject)}">
                            Task: [[${task.name}]]
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>

</html>
